<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table border="1">
            <thead>
                <tr>
                    <th rowspan="2">Name</th>
                <th rowspan="2">Email</th>
                <th rowspan="2">Event name</th>
                </tr>
            </thead>
        
            <tr>
                <td rowspan="2">{{ name }}</td>
                <td rowspan="2">{{ email }}</td>
                <td rowspan="2">{{ event }}</td>
            </tr>
        </table>
</body>
</html>